:root {
  --bg-color: #4fa139;
  --bg-color-2: #f1e3d1;
  --bg-color-3: #3c7a2b;
  --bg-color-button: #f5f5f5;
  --box-shadow-button: rgba(45, 35, 66, 0.1) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  --box-shadow-button-2: rgba(45, 35, 66, 0.1) 0 7px 13px -3px,
    #831524 0 -3px 0 inset;
  --text-color: black;
  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-2);
  padding: 2em;
  margin: 2em 0;
  border: 5px solid var(--bg-color);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 10px -2px rgb(0 0 0 / 0.3);
}

h2 {
  margin: 0.5em;
  text-align: center;
}

@media (max-width: 768px) {
  main {
    padding: 2em 1em;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-3);
  font-family: var(--font-family);
  color: var(--text-color);
}

.canvas-container {
  position: relative;
}

#map {
  border: 3px solid var(--bg-color-3);
  width: 100%;
  max-height: 600px;
  position: relative;
}

@media (max-width: 768px) {
  #map {
    max-height: none;
  }
}

.container-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container-select {
    flex-direction: column;
  }
}

.start-game {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1em;
  background-color: #f5f5f5;
  border: 2px solid black;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, var(--box-shadow-button);
  cursor: pointer;
  margin: 1em;
}

.start-game:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, var(--box-shadow-button);
  transform: translateY(-2px);
}

.players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
  width: 100%;
  max-width: 600px;
}

.container-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 120px;
  height: 120px;
  margin: 0 1em;
}

@media (max-width: 768px) {
  .players {
    flex-direction: column;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.inside-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.key {
  all: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #f5f5f5;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, var(--box-shadow-button);
  cursor: pointer;
  border: 2px solid black;
  transition: box-shadow 0.15s, transform 0.15s;
}

.text-key {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  font-family: var(--font-family-mono);
  padding: 1em 1.2em;
  /* no highlight */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.key:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, var(--box-shadow-button);
  transform: translateY(-2px);
}

.key:active,
.start-game:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  border: 2px solid #a7a7a7;
  transform: translateY(2px);
}

.button-start {
  background-color: #c42037;
  color: #f5f5f5;
  padding: 0.7em 1em;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, var(--box-shadow-button-2);
}

.button-start:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, var(--box-shadow-button-2);
  transform: translateY(-2px);
}

.button-start:active {
  box-shadow: #831524 0 3px 7px inset;
  border: 2px solid #a46b6b;
  transform: translateY(2px);
}

.restart-game {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1em;
  background-color: #f5f5f5;
  border: 2px solid black;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, var(--box-shadow-button);
  cursor: pointer;
  margin: 1em;
}

.restart-game:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, var(--box-shadow-button);
  transform: translateY(-2px);
}

.button-restart {
  background-color: #c42037;
  color: #f5f5f5;
  padding: 0.7em 1em;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, var(--box-shadow-button-2);
}

.button-restart:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, var(--box-shadow-button-2);
  transform: translateY(-2px);
}

.button-restart:active {
  box-shadow: #831524 0 3px 7px inset;
  border: 2px solid #a46b6b;
  transform: translateY(2px);
}

.restart-game:disabled {
  background-color: #e6e6e6;
  opacity: 0.5;
  cursor: not-allowed;
  color: black
}

.glow-effect {
  border-color: #48abe0;
  border-radius: 5px;
}

.container-game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
  width: 100%;
}

.container-player-lifes {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.container-player-lifes img {
  width: 40px;
  margin: 0 0.3em;
  height: auto;
}

.skip-box-overlay {
  box-sizing: border-box;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border: black;
  border-width: 1px;
  border-style: solid;
  top: 0px;
  width: 300px;
  height: 100px;
}

.key-animation {
  animation: key-animation 0.8s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

@keyframes key-animation {
  0% {
    transform: translateY(0);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, var(--box-shadow-button);
  }
  50% {
    transform: translateY(-2px);
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, var(--box-shadow-button);
  }
  100% {
    transform: translateY(0);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, var(--box-shadow-button);
  }
}
